<div class="navbar-nav ml-auto">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Auth" asp-action="Logout" method="post" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span class="navbar-text">Hello @User.Identity.Name!</span>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Sign out</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Auth" asp-action="Login">Sign in</a></li>
        </ul>
    }
</div>